#  I40E NIC Driver for EDK
CONFIG_I40E=m

# iKVM needs ast kernel driver.  CONFIG_DRM_AST is main driver.
# The rest of the modules are dependencies.
CONFIG_DRM_AST=y
CONFIG_DRM_VKMS=m
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_DRM_FBDEV_OVERALLOC=100
CONFIG_XEN_FBDEV_FRONTEND=y
CONFIG_DRM_GEM_SHMEM_HELPER=m
