# Zion Config Changes
CONFIG_INTERVAL_TREE=y
CONFIG_NR_CPUS=512
CONFIG_NODES_SHIFT=4
CONFIG_DRM=m
CONFIG_DRM_TTM_HELPER=m
CONFIG_DRM_KMS_HELPER=m
# We don't actually use the Bochs driver, but on 6.4+ it ensures that
# we pull in the TTM and KMS helpers, which we need.
CONFIG_DRM_BOCHS=m
CONFIG_DRM_VRAM_HELPER=m
CONFIG_X86_UV=y
# CONFIG_UV_MMTIMER is not set
# CONFIG_UV_SYSFS is not set
CONFIG_X86_EXTENDED_PLATFORM=y
# Explicitly disabling RNDIS
# https://fb.workplace.com/groups/kernel.fyi/permalink/25269967712625172/
# CONFIG_USB_NET_RNDIS_HOST is not set
# Enable to support AMD drivers
CONFIG_BACKLIGHT_CLASS_DEVICE=m
# Zion 2S RDMA Config Changes
CONFIG_NET_VENDOR_MELLANOX=y
CONFIG_MLX5_CORE=y
CONFIG_MLX5_CORE_EN=y
CONFIG_MLX5_CORE_EN_DCB=y
CONFIG_MLX5_CORE_IPOIB=y
CONFIG_MLXFW=y
CONFIG_INFINIBAND=y
CONFIG_INFINIBAND_USER_MAD=m
CONFIG_INFINIBAND_USER_ACCESS=m
CONFIG_INFINIBAND_EXP_LEGACY_VERBS_NEW_UAPI=y
CONFIG_INFINIBAND_USER_MEM=y
CONFIG_INFINIBAND_ON_DEMAND_PAGING=y
CONFIG_INFINIBAND_ADDR_TRANS=y
CONFIG_INFINIBAND_ADDR_TRANS_CONFIGFS=y
# CONFIG_INFINIBAND_BNXT_RE is not set
# CONFIG_INFINIBAND_EFA is not set
# CONFIG_INFINIBAND_ERDMA is not set
# CONFIG_INFINIBAND_HFI1 is not set
# CONFIG_MLX4_INFINIBAND is not set
# CONFIG_INFINIBAND_OCRDMA is not set
# CONFIG_INFINIBAND_QIB is not set
# CONFIG_INFINIBAND_USNIC is not set
# CONFIG_RDMA_SIW is not set
# CONFIG_INFINIBAND_IPOIB is not set
# CONFIG_INFINIBAND_SRP is not set
# CONFIG_INFINIBAND_ISER is not set
# CONFIG_INFINIBAND_RTRS_CLIENT is not set
# CONFIG_INFINIBAND_RTRS_SERVER is not set
# CONFIG_INFINIBAND_OPA_VNIC is not set
# CONFIG_SECURITY_INFINIBAND is not set
CONFIG_SUNRPC_XPRT_RDMA=m
CONFIG_INFINIBAND_MTHCA=m
CONFIG_INFINIBAND_MTHCA_DEBUG=y
CONFIG_MLX5_INFINIBAND=y
CONFIG_INFINIBAND_RDMAVT=m
CONFIG_RDMA_RXE=m
CONFIG_VMAP_PFN=y
CONFIG_DRM_MIPI_DSI=y
CONFIG_AGP=m
CONFIG_AGP_INTEL=m
# Enable AMD GPU driver
CONFIG_DRM_AMDGPU=m
CONFIG_DRM_TTM=m
CONFIG_DRM_TTM_DMA_PAGE_POOL=y
CONFIG_DRM_SCHED=m
CONFIG_DRM_AMDGPU_USERPTR=y
CONFIG_HSA_AMD=y
CONFIG_HSA_AMD_P2P=y
CONFIG_HSA_AMD_SVM=y
CONFIG_PCI_P2PDMA=y
CONFIG_DMABUF_MOVE_NOTIFY=y
CONFIG_DEVICE_PRIVATE=y

# Enabling LTO
CONFIG_LTO=y
CONFIG_LTO_CLANG=y
CONFIG_HAS_LTO_CLANG=y
# CONFIG_LTO_NONE is not set
# CONFIG_LTO_CLANG_FULL is not set
CONFIG_LTO_CLANG_THIN=y
