CONFIG_DEFAULT_HOSTNAME="kdump-kernel-env"
CONFIG_LOG_BUF_SHIFT=18
CONFIG_RELOCATABLE=y
CONFIG_CRASH_DUMP=y

# Override m->y
CONFIG_MD=y
# CONFIG_MD_RAID10 is not set
# CONFIG_MD_RAID456 is not set

# Stuff we want to force off.
CONFIG_SMP=n
CONFIG_NET=n
CONFIG_UIO=n
CONFIG_FTRACE=n
CONFIG_MEMCG=n
CONFIG_EVENTFD=n
CONFIG_DEBUG_INFO=n
CONFIG_KFENCE=n

CONFIG_BOOT_CONFIG=n

CONFIG_PCSPKR_PLATFORM=n
CONFIG_EPOLL=n
CONFIG_SIGNALFD=n
CONFIG_TIMERFD=n
CONFIG_SHMEM=n
CONFIG_KCMP=n
CONFIG_CACHESTAT_SYSCALL=n

CONFIG_PERF_EVENTS=n
CONFIG_PERF_EVENTS_INTEL_UNCORE=n
CONFIG_PERF_EVENTS_INTEL_RAPL=n
CONFIG_PERF_EVENTS_INTEL_CSTATE=n
CONFIG_PERF_EVENTS_AMD_POWER=n
CONFIG_PERF_EVENTS_AMD_UNCORE=n

CONFIG_SPECULATION_MITIGATIONS=n
CONFIG_CPU_IBPB_ENTRY=n
CONFIG_CPU_IBRS_ENTRY=n

CONFIG_CGROUPS=n
CONFIG_IKCONFIG=n
CONFIG_IKHEADERS=n
CONFIG_MODULES=n
CONFIG_KPROBES=n
CONFIG_VIRTUALIZATION=n
CONFIG_MEMORY_HOTPLUG=n
CONFIG_COMPACTION=n
CONFIG_MIGRATION=n
CONFIG_KSM=n
CONFIG_TRANSPARENT_HUGEPAGE=n
CONFIG_FRONTSWAP=n
CONFIG_CMA=n
CONFIG_TORTURE_TEST=n
CONFIG_RCU_TORTURE_TEST=n
CONFIG_SCHED_INFO=n
CONFIG_SCHEDSTATS=n
# CONFIG_SCHED_CLASS_EXT is not set
CONFIG_SECURITY=n
CONFIG_INTEGRITY=n
CONFIG_TRACING_SUPPORT=n
CONFIG_FAULT_INJECTION=n
CONFIG_CPU_FREQ=n
CONFIG_IA32_EMULATION=n
CONFIG_ENCLOSURE_SERVICES=n
CONFIG_HP_ILO=n
CONFIG_INTEL_MEI=n
CONFIG_INTEL_MEI_TXE=n
CONFIG_IPMI_HANDLER=n
CONFIG_TCG_TPM=n
CONFIG_I2C=n
CONFIG_THERMAL=n
CONFIG_SOUND=n
CONFIG_HID=n
CONFIG_USB_SUPPORT=n
CONFIG_CONFIGFS_FS=n
CONFIG_EFIVAR_FS=n
CONFIG_OVERLAY_FS=n
CONFIG_FUSE_FS=n
CONFIG_ACPI_CONFIGFS=n
CONFIG_CONFIGFS_FS=n
CONFIG_FSNOTIFY=n
CONFIG_AUTOFS_FS=n
CONFIG_AUTOFS4_FS=n
CONFIG_EDAC_SUPPORT=n
CONFIG_EDAC=n
CONFIG_DMA_ENGINE=n
CONFIG_INTEL_IOATDMA=n
CONFIG_SCSI_DEBUG=n
CONFIG_CRAMFS=n
CONFIG_ACPI_LPIT=n
CONFIG_ACPI_REV_OVERRIDE_POSSIBLE=n
CONFIG_ACPI_AC=n
CONFIG_ACPI_BATTERY=n
CONFIG_ACPI_BUTTON=n
CONFIG_ACPI_FAN=n
CONFIG_ACPI_CPU_FREQ_PSS=n
CONFIG_ACPI_PROCESSOR=n
CONFIG_ACPI_THERMAL=n
CONFIG_ACPI_CONTAINER=n
CONFIG_ACPI_HED=n
CONFIG_ACPI_APEI=n
CONFIG_ACPI_NFIT=n
CONFIG_ACPI_TABLE_LIB=y
CONFIG_NAMESPACES=n
CONFIG_VM_EVENT_COUNTERS=n
CONFIG_KEXEC=n
CONFIG_BLK_WBT=n
CONFIG_HOTPLUG_PCI=n
CONFIG_CHR_DEV_ST=n
CONFIG_BLK_DEV_SR=n
CONFIG_BLK_DEV_NULL_BLK=n
CONFIG_BLK_DEV_NULL_BLK_FAULT_INJECTION=n
# CONFIG_BLK_DEV_UBLK is not set
CONFIG_CHR_DEV_SG=n
CONFIG_CHR_DEV_SCH=n
CONFIG_SCSI_HPSA=n
CONFIG_MEGARAID_NEWGEN=n
CONFIG_MEGARAID_SAS=n
CONFIG_SCSI_MPT3SAS=n
# CONFIG_SCSI_MPI3MR is not set
CONFIG_FUSION=n
CONFIG_VFIO=n
CONFIG_BCM_VK=n
CONFIG_FW_LOADER=n
CONFIG_GOOGLE_FIRMWARE=n
CONFIG_MICROCODE=n
CONFIG_SECCOMP=n
CONFIG_CDROM=n
CONFIG_CDROM_PKTCDVD=n
CONFIG_ISO9660_FS=n
CONFIG_IO_URING=n
CONFIG_USERFAULTFD=n
CONFIG_RSEQ=n
CONFIG_AIO=n
CONFIG_ADVISE_SYSCALLS=n
CONFIG_MEMBARRIER=n
CONFIG_MODIFY_LDT_SYSCALL=n
CONFIG_CXL_ACPI=y

CONFIG_X86_MCE_INJECT=n
CONFIG_X86_MCELOG_LEGACY=n
CONFIG_X86_MSR=n
CONFIG_X86_CPUID=n
CONFIG_X86_INTEL_MEMORY_PROTECTION_KEYS=n
CONFIG_X86_CPU_RESCTRL=n
CONFIG_SYSTEM_DATA_VERIFICATION=n
CONFIG_KEYS=n
CONFIG_FS_VERITY=n
CONFIG_BINFMT_MISC=n
CONFIG_IMA=n
CONFIG_IMA_KEXEC=n
CONFIG_FACEBOOK_EXTRA_DEPS=n

# We want to collect information on virtual machines (devvms)
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_MENU=y
# CONFIG_VIRTIO_HARDEN_NOTIFICATION is not set
# CONFIG_VIRTIO_MMIO is not set

CONFIG_SCSI_VIRTIO=n
CONFIG_VIRTIO_CONSOLE=n
CONFIG_BLK_MQ_VIRTIO=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_VIRTIO_BALLOON=n
CONFIG_VIRTIO_FS=n
CONFIG_CRYPTO_DEV_VIRTIO=n
CONFIG_RAID6_PQ_BENCHMARK=n
CONFIG_BPF=n
CONFIG_BPF_SYSCALL=n
CONFIG_RUNTIME_TESTING_MENU=n
CONFIG_SCF_TORTURE_TEST=n
CONFIG_TORTURE_TEST=n
CONFIG_RD_BZIP2=n
CONFIG_RD_LZMA=n
CONFIG_RD_LZO=n
CONFIG_RD_LZ4=n
CONFIG_RD_ZSTD=n
CONFIG_XZ_DEC_POWERPC=n
CONFIG_XZ_DEC_IA64=n
CONFIG_XZ_DEC_ARM=n
CONFIG_XZ_DEC_ARMTHUMB=n
CONFIG_XZ_DEC_SPARC=n
CONFIG_STACKPROTECTOR=n
CONFIG_RANDOMIZE_KSTACK_OFFSET=n
CONFIG_FSCACHE=n
CONFIG_DAX=n
CONFIG_DAX_DRIVER=n
CONFIG_FS_DAX=n
CONFIG_BLK_DEV_PMEM=n
CONFIG_LIBNVDIMM=n
CONFIG_PCI_SW_SWITCHTEC=n
CONFIG_DETECT_HUNG_TASK=n
CONFIG_SPH=n
CONFIG_PCI_P2PDMA=n

CONFIG_PERCPU_STATS=n


# CONFIG_ACPI_TABLE_UPGRADE is not set
# CONFIG_DEBUG_INFO_BTF_MODULES is not set
# CONFIG_EEPROM_AT24 is not set
# CONFIG_GPIOLIB is not set
# CONFIG_I2C_CHARDEV is not set
# CONFIG_PPS is not set
# CONFIG_IIO is not set
# CONFIG_INTEL_PCH_THERMAL is not set
# CONFIG_MAX1363 is not set
# CONFIG_MFD_SYSCON is not set
# CONFIG_MTD_CFI is not set
# CONFIG_PAHOLE_HAS_SPLIT_BTF is not set
# CONFIG_PMBUS is not set
# CONFIG_REGMAP is not set
# CONFIG_REGMAP_I2C is not set
# CONFIG_SENSORS_LM73 is not set
# CONFIG_SENSORS_LM90 is not set
# CONFIG_SENSORS_MAX6697 is not set
# CONFIG_SENSORS_PMBUS is not set
# CONFIG_SENSORS_UCD9000 is not set
# CONFIG_SERIAL_MCTRL_GPIO is not set
# CONFIG_SERIAL_8250_PERICOM is not set
CONFIG_SERIAL_NONSTANDARD=n
# CONFIG_W1 is not set

CONFIG_DM=y
CONFIG_BLK_DEV_DM=y
CONFIG_DM_CRYPT=y

CONFIG_PSI=n
CONFIG_PRINTK_INDEX=n
CONFIG_RELAY=n

CONFIG_PAGEBLOCK_STATS=n
COMPAT_BRK=y

CONFIG_PROCESSOR_SELECT=y
CONFIG_CPU_SUP_HYGON=n
CONFIG_CPU_SUP_CENTAUR=n
CONFIG_CPU_SUP_ZHAOXIN=n

CONFIG_X86_VSYSCALL_EMULATION=n
CONFIG_LEGACY_VSYSCALL_NONE=y

CONFIG_AMD_MEM_ENCRYPT=n

CONFIG_PHYSICAL_ALIGN=0x200000

CONFIG_MTD_SPI_NOR=n

CONFIG_BLK_DEV_RAM_COUNT=1
CONFIG_BLK_DEV_LOOP=n

CONFIG_SCSI_SMARTPQI=n

CONFIG_BCACHE=n

CONFIG_VT=n
CONFIG_INPUT=n

CONFIG_RAW_DRIVER=n
CONFIG_DEVPORT=n

CONFIG_SPI=n

CONFIG_PTP_DFL_TOD=n

CONFIG_SENSORS_CORETEMP=n

CONFIG_VHOST_MENU=n

CONFIG_MELLANOX_PLATFORM=n

CONFIG_X86_PLATFORM_DEVICES=n

CONFIG_LIBNVDIMM=n
CONFIG_X86_PMEM_LEGACY=n

CONFIG_X86_SGX=n

CONFIG_NVMEM=n
CONFIG_RTC_NVMEM=n

CONFIG_MTD=n

CONFIG_FPGA=n

CONFIG_FSNOTIFY=n
CONFIG_DNOTIFY=n
CONFIG_INOTIFY_USER=n
CONFIG_FANOTIFY=n

CONFIG_QUOTA=n
CONFIG_QUOTACTL=n

CONFIG_MANDATORY_FILE_LOCKING=n

# CONFIG_XFS_FS is not set

CONFIG_SQUASHFS=n

CONFIG_CRYPTO_MANAGER=n
CONFIG_CRYPTO_MANAGER_DISABLE_TESTS=y
CONFIG_CRYPTO_NULL=n
CONFIG_CRYPTO_CRYPTD=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_CRYPTO_GCM=n
CONFIG_CRYPTO_SEQIV=n
CONFIG_CRYPTO_ECHAINIV=n
CONFIG_CRYPTO_CBC=n
CONFIG_CRYPTO_CTR=n
CONFIG_CRYPTO_CTS=n
CONFIG_CRYPTO_ECB=n
CONFIG_CRYPTO_LRW=n
CONFIG_CRYPTO_XTS=y
CONFIG_CRYPTO_ESSIV=n
CONFIG_CRYPTO_HMAC=n
CONFIG_CRYPTO_CRC32C_INTEL=n
CONFIG_CRYPTO_CRC32_PCLMUL=n
CONFIG_CRYPTO_BLAKE2S=n
CONFIG_CRYPTO_BLAKE2S_X86=n
CONFIG_CRYPTO_LIB_BLAKE2S=n
CONFIG_CRYPTO_GHASH=n
CONFIG_CRYPTO_MD4=n
CONFIG_CRYPTO_MD5=n
CONFIG_CRYPTO_SHA1=n
CONFIG_CRYPTO_SHA1_SSSE3=n
CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_CRYPTO_DES=n
CONFIG_CRYPTO_LZO=n
CONFIG_CRYPTO_LZ4=n
CONFIG_CRYPTO_ZSTD=n
CONFIG_CRYPTO_ANSI_CPRNG=n
CONFIG_CRYPTO_DRBG_MENU=n
CONFIG_CRYPTO_RSA=n
CONFIG_CRYPTO_HW=n
CONFIG_CRYPTO_DEV_CCP=n

CONFIG_CRC_T10DIF=n
CONFIG_CRYPTO_CRCT10DIF=n

CONFIG_CRYPTO_JITTERENTROPY=y

CONFIG_ASN1=n

CONFIG_PAGE_REPORTING=n

CONFIG_ZPOOL=n
CONFIG_SWAP=n
CONFIG_ZBUD=n
CONFIG_ZSMALLOC=n

CONFIG_HWMON=n

CONFIG_LOCK_DEBUGGING_SUPPORT=n
CONFIG_CSD_LOCK_WAIT_DEBUG=n
CONFIG_LOCK_TORTURE_TEST=n
CONFIG_DYNAMIC_DEBUG=n
CONFIG_DYNAMIC_DEBUG_CORE=n
CONFIG_DEBUG_PAGE_REF=n
CONFIG_SCHED_DEBUG=n
CONFIG_DEBUG_CREDENTIALS=n
CONFIG_KERNEL_ZSTD=n
CONFIG_DEBUG_INFO_NONE=y

# Disable wireguard and all the crypto it pulls in
CONFIG_WIREGUARD=n
CONFIG_CRYPTO_LIB_CHACHA=n
CONFIG_CRYPTO_LIB_CHACHA_GENERIC=n
CONFIG_CRYPTO_CHACHA20_X86_64=n
CONFIG_CRYPTO_LIB_CURVE25519=n
CONFIG_CRYPTO_LIB_CHACHA20POLY1305=n
CONFIG_CRYPTO_LIB_CURVE25519=n
CONFIG_CRYPTO_LIB_CURVE25519_GENERIC=n
CONFIG_CRYPTO_CURVE25519_X86=n
CONFIG_CRYPTO_LIB_POLY1305=n
CONFIG_CRYPTO_LIB_POLY1305_GENERIC=n
CONFIG_CRYPTO_POLY1305_X86_64=n

# CONFIG_NEW_LEDS is not set

# CONFIG_DAMON is not set
