# options from debug.bzl
CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_LIST=y
CONFIG_DEBUG_PI_LIST=y
CONFIG_RCU_CPU_STALL_TIMEOUT=60
CONFIG_DEBUG_VM=y
CONFIG_DEBUG_VIRTUAL=y
CONFIG_TEST_DEBUG_VIRTUAL=n
CONFIG_DEBUG_PER_CPU_MAPS=y
CONFIG_DEBUG_NOTIFIERS=y
CONFIG_HARDENED_USERCOPY=y
CONFIG_DEBUG_TIMEKEEPING=y
CONFIG_DMA_API_DEBUG=y
CONFIG_DMA_API_DEBUG_SG=y
CONFIG_DEBUG_PAGEALLOC=y
CONFIG_DEBUG_SLUB_DEBUG_ON=y
CONFIG_DEBUG_RT_MUTEXES=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_WW_MUTEX_SLOWPATH=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_PROVE_LOCKING=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_BTRFS_ASSERT=y

CONFIG_DEBUG_LIST=y
CONFIG_PAGE_TABLE_CHECK=y
CONFIG_PAGE_TABLE_CHECK_ENFORCED=y

# KMEMLEAK
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_MEM_POOL_SIZE=208000
# CONFIG_DEBUG_KMEMLEAK_TEST is not set
# CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF is not set
CONFIG_DEBUG_KMEMLEAK_AUTO_SCAN=y

# KASAN
CONFIG_KASAN=y
CONFIG_CC_HAS_KASAN_MEMINTRINSIC_PREFIX=y
CONFIG_KASAN_GENERIC=y
# CONFIG_KASAN_SW_TAGS is not set
# CONFIG_KASAN_HW_TAGS is not set
CONFIG_KASAN_INLINE=y
# CONFIG_KASAN_STACK is not set
CONFIG_KASAN_VMALLOC=y

# LOCKDEP
CONFIG_LOCKDEP=y
CONFIG_LOCKDEP_BITS=20
CONFIG_LOCKDEP_CHAINS_BITS=20
CONFIG_LOCKDEP_STACK_TRACE_BITS=19
CONFIG_LOCKDEP_STACK_TRACE_HASH_BITS=14
CONFIG_LOCKDEP_CIRCULAR_QUEUE_BITS=12
# CONFIG_DEBUG_LOCKDEP is not set


# Some default dependencies
CONFIG_INIT_STACK_NONE=y
CONFIG_CPUMASK_OFFSTACK=y
CONFIG_DEBUG_PAGEALLOC_ENABLE_DEFAULT=y
# CONFIG_DEBUG_OBJECTS_SELFTEST is not set
CONFIG_DEBUG_OBJECTS_ENABLE_DEFAULT=1
CONFIG_DEBUG_VM_VMACACHE=y

# We do not have profiling data for this flavour
# CONFIG_PGO_CLANG is not set

# We need to increase the FRAME SIZE, otherwise we get
# error: stack frame size of 2520 bytes in function 'emulator_task_switch' [-Werror,-Wframe-larger-than=]
CONFIG_FRAME_WARN=8192

# XFS
CONFIG_XFS_WARN=y

# RCU
CONFIG_PROVE_RCU=y
CONFIG_RCU_TRACE=y
CONFIG_RCU_EQS_DEBUG=y
CONFIG_PREEMPT_RCU=y
CONFIG_PREEMPT_DYNAMIC=y

# UBSAN, but honestly it rarely catches anything
CONFIG_UBSAN=y
CONFIG_UBSAN_SANITIZE_ALL=y

# Networking, yes!
CONFIG_NET_DEV_REFCNT_TRACKER=y
CONFIG_NET_NS_REFCNT_TRACKER=y
CONFIG_DEBUG_NET=y

# Random stuff
CONFIG_PAGE_EXTENSION=y
CONFIG_PAGE_OWNER=y
CONFIG_PAGE_POISONING=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_DEBUG_OBJECTS_TIMERS=y
CONFIG_DEBUG_OBJECTS_WORK=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_DEBUG_OBJECTS_PERCPU_COUNTER=y
CONFIG_DEBUG_OBJECTS_ENABLE_DEFAULT=1
CONFIG_DEBUG_VM_RB=y
CONFIG_DEBUG_VM_PGFLAGS=y
CONFIG_DEBUG_KMAP_LOCAL=n # Enabling this fails the build
CONFIG_DEBUG_KMAP_LOCAL_FORCE_MAP=n
CONFIG_DEBUG_SHIRQ=y
CONFIG_DEBUG_PREEMPT=y
# CONFIG_PROVE_RAW_LOCK_NESTING is not set
CONFIG_DEBUG_RWSEMS=y
CONFIG_TRACE_IRQFLAGS=y
CONFIG_TRACE_IRQFLAGS_NMI=y
CONFIG_DEBUG_IRQFLAGS=y
CONFIG_DEBUG_PLIST=y
CONFIG_DEBUG_SG=y

CONFIG_DEBUG_SECTION_MISMATCH=n
CONFIG_READABLE_ASM=n
CONFIG_UBSAN_TRAP=n
CONFIG_UBSAN_BOUNDS=y
CONFIG_UBSAN_SHIFT=y
CONFIG_UBSAN_DIV_ZERO=y
CONFIG_UBSAN_BOOL=n
CONFIG_UBSAN_ENUM=y
CONFIG_UBSAN_ALIGNMENT=n
CONFIG_TEST_UBSAN=n

CONFIG_DEBUG_VM_MAPLE_TREE=n
CONFIG_DEBUG_KOBJECT_RELEASE=n
CONFIG_PREEMPT_TRACER=n

# KUNIT
CONFIG_KUNIT=y
CONFIG_KUNIT_DEBUGFS=y
CONFIG_KUNIT_EXAMPLE_TEST=y

# Stack protection is disabled on default kernel,
# so enable it here to get some coverage.
CONFIG_STACKPROTECTOR=y
CONFIG_STACKPROTECTOR_STRONG=y
